<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Currently logged in as: <% if(username){username} %></p>
    <p><a href="/login">Log Out</a></p>
</body>

</html>