<!DOCTYPE html>
<html>
<head>
    <title>index of my-express-sql-app</title>
    <link rel="stylesheet" href="common.css">
</head>
<body>
    <main style="margin: 1em 2em; font-size: 32px;">
        <div>
            <a href="/signup">signup</a>
        </div>
        <div>
            <a href="/">login</a>
        </div>
        <div>
            <a href="/dashboard">dashboard</a>
        </div>
    </main>
</body>
</html>