@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    font-family: 'Source Code Pro', consolas, monospace;
    color-scheme: light dark;
}

body {
    margin: 0;
    background-color: light-dark(white, rgb(40, 42, 54));
}